:root {
    --primary-color: #FA5A16;
    --primary-color-dark: #FA4616;
    --primary-color-light: #fb8332;
    --primary-gradient-start: #FA8816;
    --text-light: #ffffff;
    --text-dark: #000;
    --text-secondary: #AEAEAE;
    --border-color: #AEAEAE;
    --font-main: "Kanit", "Inria Sans", sans-serif;
}

* {
    font-family: var(--font-main);
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.material-symbols-outlined {
    text-decoration: none;
    border: none;
    background: none;
}

.material-symbols-outlined:hover {
    cursor: pointer;
}

/* header */
.home-header {
    position: sticky;
    top: 0;
    z-index: 1000;

    width: 100%;
    padding-top: calc(30px + env(safe-area-inset-top));
    padding-left: calc(20px + env(safe-area-inset-left));
    padding-right: calc(20px + env(safe-area-inset-right));
    padding-bottom: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background: var(--primary-gradient-start);
    background: linear-gradient(0deg, #FA8816 0.36%, #E85A34 99.64%);
    background-size: cover;
    color: var(--text-light);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
}

.home-header .material-symbols-outlined {
    color: white;
    font-size: 28px;
    font-weight: 700;
}

.home-main {
    width: 100%;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* search-bar */
.top-bar-search {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-bottom: 20px;
}

.top-bar-search .material-symbols-outlined {
    color: #333333;
    font-size: 28px;
    font-weight: 100;
}

.search-bar {
    width: 100%;
    height: 30px;
    position: relative;
}

.search-bar .material-symbols-outlined {
    font-size: 24px;
    position: absolute;
    right: 5px;
    top: 3px;
}

#search-input {
    width: 100%;
    height: 100%;
    border: 1px solid var(--border-color);
    border-radius: 13px;
    padding: 0 27px 0 12px;
    font-size: 14px;
}

/* room-item */
.rooms-List {
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.room-item {
    width: 100%;
    max-width: 500px;
    margin: auto;
    background: #F3F3F3;
    border-radius: 7px;
    overflow: hidden;
    text-align: center;
}

/* header-item */
.room-item .header-item {
    position: relative;
    background-image: url(/Resource/img/img1.jpg);
    background-size: cover;
    background-position: center;
    background-clip: border-box;
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
}

.group-date-month {
    height: 70px;
    width: 40px;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 20px;
    background-image: url(/Resource/img/bookmark.svg);
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    line-height: 18px;
    padding-top: 8px;
    color: white;
    font-size: large;
}

.date-activity {
    font-size: 20px;
}

.address-activity {
    color: #FA5A16;
    border: #FA5A16 solid 1px;
    border-radius: 3.5px;
    padding: 0px 10px;
}

/* separator-line */
.separator-line {
    width: 95%;
    border: #aaaaaa solid 2px;
    border-radius: 25px;
    margin: 5px auto;
}

/* body-item */
.room-item .body-item {
    padding: 10px;
    padding-top: 0px;
}

.room-item li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.body-item {
    display: flex;
    flex-direction: column;
}

.first-row-item-body,
.third-row-item-body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.first-row-item-body {
    font-size: 20px;
}

.third-row-item-body {
    margin-top: 5px;
}

.third-row-item-body .time-activity {
    font-size: 20px;
}

.first-row-item-body h2 {
    text-align: left;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 24px;
    font-weight: 400;
}

.second-row-item-body {
    display: flex;
}

.second-row-item-body li {
    justify-content: start;
    flex-wrap: wrap;
}

.tag-list-item {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.tag-list-item li {
    color: #FA5A16;
    border: #FA5A16 solid 1px;
    border-radius: 3.5px;
    padding: 0px 10px;
    margin: 2px 5px;
}

.time-activity,
.people-activity {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* btn-room-item */
.btn-room-item {
    border: none;
    width: 100%;
    height: 35px;
    background-image: linear-gradient(180deg, var(--primary-color-dark) -1.34%, var(--primary-gradient-start) 119.5%);
    background-color: var(--primary-color-light);
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s;
}

.btn-room-item:hover {
    background-image: none;
    background-color: var(--primary-color-light);
}

.btn-room-item:active {
    background-color: var(--primary-color);
}

/* footer */
.login-footer {
    width: 100%;
    padding: 30px 20px;
    padding-bottom: calc(30px + env(safe-area-inset-bottom));

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    position: absolute;
    bottom: 0;
}

.footer-links {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-links a {
    color: var(--text-secondary);
    /* สีเทาอ่อน */
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
}

.footer-links a:hover {
    color: var(--primary-color);
    /* สีส้ม */
    text-decoration: underline;
}

.footer-links span {
    color: var(--text-secondary);
    font-size: 13px;
}

.copyright-text {
    color: var(--text-secondary);
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}

.hidden-file-input {
    display: none;
}

.add-cover-label {
    cursor: pointer;
}