:root {
    --primary-color: #FA5A16;
    --primary-color-dark: #FA4616;
    --primary-color-light: #fb8332;
    --primary-gradient-start: #FA8816;
    --text-light: #ffffff;
    --text-dark: #000;
    --text-secondary: #AEAEAE;
    --border-color: #AEAEAE;
    --font-main: "Kanit", "Inria Sans", sans-serif;
}

* {
    font-family: var(--font-main);
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

/* header */
.home-header {
    width: 100%;
    /* padding: 80px 20px 10px 20px; */
    padding-top: calc(30px + env(safe-area-inset-top));
    padding-left: calc(20px + env(safe-area-inset-left));
    padding-right: calc(20px + env(safe-area-inset-right));
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background: var(--primary-gradient-start);
    background-image: linear-gradient(187deg, var(--primary-gradient-start) -1.34%, var(--primary-color-dark) 119.5%);
    background-size: cover;

    font-weight: 700;
    font-size: 30px;
    color: white;
    color: var(--text-light);
    text-align: center;
}

.home-main {
    width: 100%;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}
.home-header h2 {
    color: white;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 23px;
}
.search-bar {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#search-input {
    width: 80%;
    height: 100%;
    border: 1px solid var(--border-color);
    border-radius: 13px;
    padding: 0 10px;
    font-size: 14px;

}
/* add-home-header */
.add-home-header {
    width: 100%;
    /* padding: 80px 20px 10px 20px; */
    padding-top: calc(30px + env(safe-area-inset-top));
    padding-left: calc(20px + env(safe-area-inset-left));
    padding-right: calc(20px + env(safe-area-inset-right));
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background: var(--primary-gradient-start);
    background-image: linear-gradient(187deg, var(--primary-gradient-start) -1.34%, var(--primary-color-dark) 119.5%);
    background-size: cover;

    font-weight: 600;
    font-size: 20px;
    color: white;
    color: var(--text-light);
    text-align: center;
}
