* {
    font-family: "Inria Serif", serif;
    font-style: normal;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

header {
    background: #FA8816;
    background-image: linear-gradient(187deg, #FA8816 -1.34%, #FA4616 119.5%);
    background-size: cover;
    font-weight: 500;
    font-size: 15px;
    color: white;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 10px;
}
header img{
    margin-bottom: 10px;
}

main {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 24px;
}

main h2 {
    color: #FA7616;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    margin: 23px;
}

label {
    color: #000;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Button */
.Button {
    width: 80%;
    height: 41px;
    margin: 5px;
    align-items: center;
    background-color: #FA5A16;
    border: none;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s;
}

.Button:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    background-color: #fb8332;
}

.Button:active {
    transform: scale(0.95);
}

.ButtonWhite {
    background-color: #ffffff;
    color: #FA5A16;
    border: #AEAEAE solid 2px;
}

.ButtonWhite:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    background-color: #fb8332;
    color: white;
}

/* TextBox */
.TextBox {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.TextBox label {
    width: 100%;
    text-align: left;
}

.TextBox input {
    align-items: center;
    border: rgb(146, 146, 146) solid 1px;
    border-radius: 8px;
    color: black;
    font-size: 16px;
    font-weight: 600;
    margin: 5px;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
}

#PasswordBox {
    margin-top: 10px;
    margin-bottom: 10px;
}