body {
    font-family: "Inria Serif", serif;
    font-weight: 300;
    font-style: normal;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    background: #FA8816;
    background-image: linear-gradient(187deg, #FA8816 -1.34%, #FA4616 119.5%);
    background-size: cover;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 1px;
}

main {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    text-align: center;
    font-size: 24px;
    color: #FA8816;
}

h2 {
    color: #FA7616;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
}

label {
    color: black;
    font-size: 12px;
}

div {
    margin: 0px;
}

.Button {
    align-items: center;
    background-color: #FA5A16;
    border: none;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin: 5px;
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    width: 80%;
    height: 41px;
}

.Button:hover,
.Button:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.Button:hover {
    transform: translateY(-1px);
}

.Button:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}

.ButtonWhite {
    background-color: #ffffff;
    color: #FA5A16;
    border: #AEAEAE solid 2px;
}

.TextBox {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.TextBox label {
    width: 100%;
    text-align: left;
}

.TextBox input {
    align-items: center;
    border: rgb(146, 146, 146) solid 1px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    color: black;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin: 5px;
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
}