:root {
    --primary-color: #FA5A16;
    --primary-color-dark: #FA4616;
    --primary-color-light: #fb8332;
    --primary-gradient-start: #FA8816;
    --text-light: #ffffff;
    --text-dark: #000;
    --text-secondary: #AEAEAE;
    --border-color: #AEAEAE;
    --font-main: "Kanit", "Inria Sans", sans-serif;
}

* {
    font-family: var(--font-main);
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

/* header */
.login-header {
    width: 100%;
    padding: 80px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

    background: var(--primary-gradient-start);
    background-image: linear-gradient(187deg, var(--primary-gradient-start) -1.34%, var(--primary-color-dark) 119.5%);
    background-size: cover;

    font-weight: 500;
    font-size: 15px;
    color: white;
    color: var(--text-light);
    text-align: center;
}

.login-header img {
    max-width: 200px;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* main */
.login-main {
    text-align: center;
    font-size: 24px;
    padding: 20px 0;
}

.login-main h2 {
    color: var(--primary-color);
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 23px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; /* นี่คือตัวที่มาแทน <br> ครับ! */
    width: 100%;
}

/* label {
    color: #000;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
} */

/* Button */
.btn {
    width: 80%;
    max-width: 400px;
    height: 41px;
    align-items: center;
    background-color: var(--primary-color);
    border: none;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    color: var(--text-light);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s;
}

.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    background-color: var(--primary-color-light);
}

.btn:active {
    transform: scale(0.95);
}

.btn--white {
    background-color: var(--text-light);
    color: var(--primary-color);
    border: var(--border-color) solid 2px;
}

.btn--white:hover {
    background-color: var(--primary-color-light);
    color: var(--text-light);
    border-color: var(--primary-color-light);
}

/* TextBox */
.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 400px;
}

.form-group label {
    color: var(--text-dark);
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 5px;
    width: 100%;
}

.form-group input {
    border: var(--border-color) solid 1px;
    border-radius: 8px;
    color: var(--text-dark);
    font-size: 16px;
    font-weight: 600;
    height: 40px;
    width: 100%;
    padding: 15px;
}

.forgot-password-link {
    text-align: right;
    font-size: 13px;
    font-weight: 400;
    color: var(--text-secondary);
    text-decoration: none;
    margin-top: 8px;
}

.forgot-password-link:hover {
    text-decoration: underline;
    color: var(--primary-color);
}